/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav {
	display:inline-block;
	width: 100px;
	margin-left: 100px;
}


.top {

	margin:150px;
}
.top h1{
	
	font-size: 90px;
	padding: 10px;
	width:200px;
	margin-left: 100px;
	text-align: center;
}
.top div{
	border: 1px solid black;
	width:200px;
	margin-left:150px;
	padding: 10px;
	text-align: center;
}
.top img {
	
	
	margin-top: 150px;
	margin-left:800px;
	position: absolute;
	left: 300;
	top:0;
}
.bottom1  {

	
	display:inline-block;
	width:600px;
	margin-left:100px;
}
.bottom2 {

	
	display:inline-block;
	width:600px;
	margin-left:100px;
	margin-bottom: 50px;
}
.middle-img {
	
	margin-left: 100px;
	width: 1300px;
	margin-bottom: 50px;
}


.last {
	
	display:inline-block;
	width:400px;
	margin-left:100px;
}



.last-2 {
	
	display:inline-block;
	width:400px;
	margin-left:33px;
}




.last-3 {
	
	display:inline-block;
	width:400px;
	margin-left:33px;

}

footer {
	margin:100px;
}

.address {
		margin-bottom: 15px;
}

.phone {
	margin-bottom: 15px;

}

.copywrite {
	margin-top:60px;
	margin-left: 500px;
}
.first{
	border-top: 1px solid black;
	padding-top: 15px;	
	display: flex;
	flex-direction: row;
}

.ultimate {
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
}

div {
	
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: 100px;
	width:1300px;
}

@media(max-width: 800px) {


	
	.logo {
		border: 1px solid black;
		order: -1;
		text-align: center;
		margin-left: 50%;
		
	}
	
	header {
		
		display:flex;
		flex-direction: row;
		justify-content: flex-start;

	}
		
	
	

		.top {
			text-align: center;
			margin-left: 30%;
		}

		.top img {
			display: none;
		}
		/*note for me. pasting here*/

		
.bottom1  {

	
	display:inline-block;
	width:300px;
	margin-left:100px;
}
.bottom2 {

	
	display:inline-block;
	width:300px;
	margin-left:100px;
	margin-bottom: 50px;
}
.middle-img {
	
	margin-left: 100px;
	width: 650px;
	margin-bottom: 50px;
}


.last {
	
	display:inline-block;
	width:400px;
	margin-left:100px;
}



.last-2 {
	
	display:inline-block;
	width:400px;
	margin-left:33px;
}




.last-3 {
	
	display:inline-block;
	width:400px;
	margin-left:33px;

}
div {
	
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: 100px;
	width:650px;
}

.first{

	
	display: flex;
	flex-direction: row;
}


.ultimate {
	display: flex;
	flex-direction: row;
justify-content: space-evenly;

}

.copywrite {
	margin-top:60px;
	margin-left: 30%;
}

}

@media(max-width:500px) {

	header {

		
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	nav {
		
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 5px;
		text-align: center;
		border-bottom: 1px solid black;
		
		
	}

	.top h1 {
		
	
		align-items: center;
		margin-left: 20px;
		font-size: 50px;
	}


	.top div {
		border: 1px solid black;
	
		align-items: center;
		margin-left: 20px;
		font-size: 20px;
	}


	.first{
		display: flex;
		flex-direction: column;
		
		width: 500px;
		

	}
	.middle-img {
	
		margin-left: 100px;
		width: 500px;
		margin-bottom: 50px;
	}

	.bottom1 {
		
			margin-left: 0px;
		
	}

	.bottom2 {
		margin-left: 0px;
	}

	.ultimate {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.last  {
		margin-left: 0px;
	}

	.last-2 {
		margin-left: 0px;
	}

	.last-3  {
		margin-left: 0px;
	}



}